body{
    padding: 0;
    margin:0;
    background: #f8f8f8;
    display: grid;
    place-items:center;
    min-height: 100vh;
}

.container{
    position:relative;
    width: 400px;
    height: 400px;
    /* background:red; */
    box-shadow:10px 10px 10px rgba(0,0,0,.1),
               -10px 10px 10px rgba(255,255,255,.1),
               inset 10px 10px 10px rgba(0,0,0,.1),
               inset -10px -10px 10px rgba(255,255,255,.1);

    border-radius: 10px;     
    display: flex;
    justify-content: center;   
    align-items: center;   
}

.container #dycalendar{
    width:100%;
    padding: 20px;
}
